<h1><%= @vendor.name %></h1>

<p>Contact Info:</p>
<p>Name: <%= @vendor.contact_name %></p>
<p>Phone: <%= @vendor.contact_phone %></p>
<p>Credit Accepted?: <%= @vendor.credit %></p>
<p>Description: <%= @vendor.description %></p>